<div class="jumbotron text-center">
    <h1>Bem-vindo ao Blog MD ESSENTIAL</h1>
    <p class="lead">Descubra dicas de treino, nutrição e estilo de vida saudável para alcançar seus objetivos fitness.</p>
    <a href="/posts" class="btn btn-custom">Ver Posts</a>
    <a href="/categorias" class="btn btn-custom ml-2">Ver Categorias</a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de Posts</h3>
            <p>Leia e gerencie posts sobre treinos, nutrição e motivação.</p>
            <a href="/posts" class="btn btn-primary">Ir para Posts</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de Categorias</h3>
            <p>Explore categorias como Treinos, Nutrição e Estilo de Vida.</p>
            <a href="/categorias" class="btn btn-primary">Ir para Categorias</a>
        </div>
    </div>
</div>
</div>
